<?xml version="1.0"?>
<launch>
    <arg name="vehicle" default="iris"/>
    <arg name="sdf" default="$(find basics)/models/iris_fpv_cam/iris_fpv_cam.sdf"/>
    <arg name="world" default="$(find basics)/worlds/ar.world"/>

    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="respawn_gazebo" value="true"/>
        <arg name="respawn_mavros" value="true"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="verbose" value="true"/>
        <arg name="world" value="$(arg world)"/>
    </include>

    <!-- launcing the AR_alvar node-->
    
    <arg name="marker_size" default="9.0"/>
    <arg name="max_new_marker_error" default="0.2"/>
	<arg name="max_track_error" default="0.2"/>	
	<arg name="camera_image" default="/iris/usb_cam/image_raw"/>
	<arg name="camera_info" default="/iris/usb_cam/camera_info"/>
	<arg name="output_frame" default="/robot_camera_link"/>

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
        <param name="marker_size" type="double" value="$(arg marker_size)" />
        <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error" type="double" value="$(arg max_track_error)" />
        <param name="output_frame" type="string" value="$(arg output_frame)" />

        <remap from="camera_image" to="$(arg camera_image)" />
        <remap from="camera_info" to="$(arg camera_info)" />
    </node>

    
</launch>