<?xml version="1.0"?>
<model>
  <name>3DR Iris with downward FPV camera</name>
  <version>1.0</version>
  <sdf version='1.7'>AR_marker.sdf</sdf>

  <author>
   <name>Mohamed Ahmed</name>
   <email>mohamed95.a.s@gmail.com</email>
  </author>

  <description>
    An AR model
  </description>
</model>
